<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../vue.js"></script>
</head>

<body>
    <!--
        条件渲染：
            1.v-if
               写法：1. v-if="表达式"
                     2. v-else-if="表达式"
                     3. v-else="表达式"
                适用于：切换频率较低的场景。
                特点：不展示的DOM元素直接被移除。
                注意：v-if可以和v-else-if,v-else一起使用，但要求结构不能被打断
            
            2.v-show
                写法： v-show="表达式"
                适用于：切换频率较高的场景。
                特点：不展示的DOM元素未被移除，仅仅是使用样式隐藏掉
            
            3.备注： 使用v-if时，元素可能无法获取到，而使用v-show一定可以获取到。
    -->
    <div id="root">
        <!--使用v-show做条件渲染，效果是display:none-->
        <h2 v-show="false">把{{name}}带回家</h2>
        <!--使用v-if做条件渲染-->
        <!-- <h2 v-if="false">把{{name}}带回家</h2> -->

        <h2>n的值：{{n}}</h2>
        <button @click="n++">n加一</button>

        <!--v-else和v-else-if-->
        <div v-if="n === 1">qq</div>
        <div v-else-if="n === 2">aa</div>
        <div v-else-if="n === 3">zz</div>
        <div v-else>最后结果</div>

        <!--v-if与template的配合使用-->
        <template v-if="n===1">
           <h2>你好</h2>
           <h2>毛毛</h2>
        </template>
    </div>
</body>

<script type="text/javascript">
    Vue.config.productionTip = false

    new Vue({
        el: '#root',
        data: {
            name: '毛毛',
            n: 0
        }
    })
</script>

</html>